a {
    color: #FFF;
}

.section {
    margin: 0px;
    padding: 0px;
}

/* Icones dos botões chat */

.material-icons.md-48 {
    font-size: 50px;
}

/* Animação do botão */


.icone:hover{
    transition: all linear .2s;
    transform: scale(1.10);
    z-index: 3;
}

.collection {
    border:0px;
    height:250px;
    width:200px;
}

.collection-item  {
    border:1px;
}

.tiraespaco{
    margin:-3%;
    margin-bottom:-1%;        
}

 .texto{
    text-align:center;
    font-size:25px;
    font-style:Arial; 
 }

 /* cabeçario dos botões */
 .text-center {
    font-size:15px;
    text-align:center;
    font-style:Arial; 
 }
 /* Iniciar CHAT */

 .clique {
    font-size:20px;
    text-align:center;
    font-style:Arial;
}

 /* icones de contato footer */

 .icones-merc {
    height:25%;
    width:25%;
    vertical-align:left;
    float:left;
}

.social-media {
    margin:0px auto; 
    float:left;
}

.social {
    margin:0;
    padding:0;
    display:inline-block; 
}

/* Vídeo */

.video {
    width:100%;height:100%;width: 447px; height: 449.00px; float: none; clear: both; margin: 10px auto; 
}

.tamanho {
    height: 10%;
    width: 10%;
}
.textos {
    margin-left: 5%;
}
p{
    font-size: 120%;
}